@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Dynamic defaults */
  --color-bg: #ffffff;
  --color-text: #37352f;
}

body {
  color: var(--color-text);
  background: var(--color-bg);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark mode preference (fallback if theme query param isn't set) */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #2f3437;
    --color-text: #ffffff;
  }
}
